@media only screen and (max-width: 1050px) {
    .container-lr{
        flex-direction: column;
    }
    
    .container-left{
        width: 100%;
    }
    
    .container-right{
        width: 100%;
    }

    nav ul{
        display: none;
    }

    .redes-links{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .item-rlinks{      
        padding: 5%;
    }

    .footer{
        flex-direction: column;
    }

    .item-footer{
        width: 100%;
        margin-bottom: 2%;
    }

    .creditos{
        text-align: center;
    }
}